@model List<Vendor>

@foreach (var item in Model)
{
    <li class="vendor-item">
        <label for="vendor@(item.Id)">
            <input type="checkbox" name="BandTypesIds" id="vendor@(item.Id)" value="@item.Id">
            <span>@item.Name</span>
        </label>
    </li>
}