@model List<Brand>

@foreach (var item in Model)
{
    <li class="brand-item">
        <label for="brand@(item.Id)">
            <input type="checkbox" name="BrandsIds" id="brand@(item.Id)" value="@item.Id">
            <span>@item.Name</span>
        </label>
    </li>
}