@model Brand

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Create Brand</h6>
                <form asp-action="Update" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id" />
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Brand</label>
                        <input type="text" asp-for="Name" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <button type="submit" class="btn btn-success">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>