@model List<InnerColor>

@foreach (var item in Model)
{
    <li class="innerColor-item">
        <label for="innerColor@(item.Id)">
            <input type="checkbox" name="InnerColorsIds" id="innerColor@(item.Id)" value="@item.Id">
            <span>@item.Name</span>
        </label>
    </li>
}

