@model List<BandType>

@foreach (var item in Model)
{
    <li class="bandType-item">
        <label for="bandType@(item.Id)">
            <input type="checkbox" name="BandTypesIds" id="bandType@(item.Id)" value="@item.Id">
            <span>@item.Name</span>
        </label>
    </li>
}