@model List<Visualization>

@foreach (var item in Model)
{
    <li class="visualization-item">
        <label for="visualization@(item.Id)">
            <input type="checkbox" name="VisualizationsIds" id="visualization@(item.Id)" value="@item.Id">
            <span>@item.Name</span>
        </label>
    </li>
}