@model ProductSearchVm

<form asp-action="Search">
    <input type="text" asp-for=Name placeholder="Search">
    <button> <i class="fa-solid fa-magnifying-glass" style="color: #ffff;"></i> </button>
</form>