<section class="breadcrumbsection">
    <div class="breadcrumbcontainer">
        <div class="breadcrumbinfo">
            <h1>Cart</h1>
            <p><a asp-action="Index" asp-controller="Home">Home</a> / <span>Cart</span></p>
        </div>
    </div>
</section>

<div class="cartsection">
    <div class="thead">
        <div class="product headrow">PRODUCT</div>
        <div class="quantity headrow">QUANTITY</div>
        <div class="total headrow">TOTAL</div>
    </div>

    <!-- <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:grid-cols-3"> -->
    @await Component.InvokeAsync("CartPage")

    <!-- </div> -->
</div>