@model PaginateVm
@{
    double rating = Model.Product.Rating;
    int fullStars = (int)rating;
    bool halfStar = rating - fullStars >= 0.5;
}

@foreach (var product in Model.Products)
{
    <div class="eachproduct">
        <div class="imgbox">
            <img class="main-image" src="~/client/image/product/@(product.ProductImages.FirstOrDefault(x => x.IsMain).Url)" alt="">
            <img class="hover-image" src="~/client/image/product/@(product.ProductImages.FirstOrDefault(x => x.IsHover).Url)" alt="">
        </div>
        <div class="productinfobox">
            <h3><a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">@product.Name</a></h3>
            <div class="productfeatures">
                <div class="ratingcon">
                    @for (int i = 0; i < fullStars; i++)
                    {
                        <i class="fa-solid fa-star" style="color: #cbba9c;"></i>
                    }

                    @if (halfStar)
                    {
                        <i class="fa-solid fa-star-half-stroke" style="color: #cbba9c;"></i>
                    }

                    @for (int i = fullStars + (halfStar ? 1 : 0); i < 5; i++)
                    {
                        <i class="fa-regular fa-star" style="color: #cbba9c;"></i>
                    }
                </div>
                <div class="pricebox">
                    @if (product.DiscountPrice > 0)
                    {
                        <div class="disocuntedprice">$@product.DiscountPrice</div>
                        <del class="oldprice">$@product.SellPrice</del>
                    }
                    else
                    {
                        <div class="disocuntedprice">$@product.SellPrice</div>
                    }
                </div>
            </div>
        </div>
        <div class="productfunctions">
            <a href=""><div class="iconbox"><i class="fa-solid fa-eye"></i></div></a>
            <a asp-action="AddToCart" asp-controller="Product" asp-route-id="@product.Id"><div class="iconbox"><i class="fa-solid fa-cart-shopping"></i></div></a>
            <a href=""><div class="iconbox"><i class="fa-regular fa-heart"></i></div></a>
        </div>
    </div>
}


